{{ define "main" }}

{{ partial "page-header.html" . }}

{{ "<!-- service single -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			{{ "<!-- sidebar -->" | safeHTML }}
			<aside class="col-lg-4 order-lg-1 order-2">
				<ul class="service-menu pl-0 border rounded mb-50 overflow-hidden">
					{{ range (where site.RegularPages "Type" "feature")}}
					<li class="border-bottom-not-last">
						<a class="d-block font-primary text-dark p-4" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
					</li>
					{{ end }}
				</ul>

				<script>
					(function () {
						const links = document.getElementsByTagName('a')
						const currentUrl = location.href
						for (const link of links) {
							if (link.href === currentUrl) {
								link.classList.add('active')
							}
						}
					}())
				</script>

			</aside>
			{{ "<!-- service single content -->" | safeHTML }}
			<div class="col-lg-8 order-lg-2 order-1">

				{{ with .Params.intro }}
				{{ if .enable }}				
				{{ "<!-- intro -->" | safeHTML }}
				<h5 class="section-title-sm">{{ .subtitle | markdownify }}</h5>
				<h2 class="section-title section-title-border-half">{{ .title | markdownify }}</h2>
				<p>{{ .content | markdownify }}</p>
				{{ "<!-- /intro -->" | safeHTML }}
				{{ end }}
				{{ end }}

				<div class="post-content">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /service single -->" | safeHTML }}

{{ end }}